.ligneTableauImpair
{
    border: 2px #606060 solid;
    background-color: #606060;
    display: flex;
}

.ligneTableauPair
{
    border: 2px #8e8e8e solid;
    background-color: #8e8e8e;
    display: flex;
}

.ligneTableauImpair:nth-child(1)
{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.colonne0
{
    width: 50px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.colonne1
{
    width: 200px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.colonne2
{
    width: 50px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.colonne3
{
    width: 50px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.colonne4
{
    width: 50px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.colonne5
{
    width: 50px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.colonne6
{
    width: 50px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#tableClassement li{
    list-style-type: none;
}

#tableClassement {
    width: 600px;
    
}

body {
    display: flex;
    justify-content: center;
}

#tableClassement h1 {
    margin-left: 100px;
}

.ligneTableauPair:nth-child(20)
{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#indication {
    display: flex;
    font-size: 12px
}

#equipe {
    margin-left: 82.5px;
}

#point {
    margin-left: 128px;
}

#jour {
    margin-left: 45px;
}

#victoire {
    margin-left: 45px;
}

#nul {
    margin-left: 45px;
}

#defaite {
    margin-left: 45px;
}